.faq dt {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 300ms ease;
    user-select: none;
    font-weight: bold;
    width: auto;
    color: var(--color-midnight);
    padding: 8px 12px;
    border-bottom: 0.5px solid rgba(15, 31, 46, 0.14);
}

.faq dt:hover {
    background: rgba(123, 175, 212, 0.08);
}

.faq dd{
    display: none;
    padding: 8px 12px;
    margin: 0;
    border-bottom: 0.5px solid rgba(15, 31, 46, 0.14);
}

.faq dt .faq-arrow {
    display: inline-block;
    position: relative;
}

/* Faq ↓ is shown and ✕ is hidden*/
.faq dt .faq-arrow::before {
    content: '↓';
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    transition: opacity 150ms ease;
}
.faq dt .faq-arrow::after {
    content: '✕';
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 200ms ease;
}

/* Shows ✕ and hides ↓ */
.faq dt.open .faq-arrow::before {
    opacity: 0;
}
.faq dt.open .faq-arrow::after {
    opacity: 1;
}

/* Shows FAQ answer */
.faq dd.open {
    display: block;
}