.phase-card {
    cursor: pointer;
    background: white;
    border: 0.5px solid rgba(15, 31, 46, 0.14);
    border-left: 3px solid var(--accent);
    border-radius: 0 10px 10px 0;
    padding: 1.25rem 1.5rem;
    margin: 2rem auto;
}

.phase-number {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--accent);
}

.phase-title {
    margin: 5px 0;
}

.phase-date {
    font-size: 0.9rem;
    color: rgba(44, 44, 42, 0.6);
}

.modal-overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(15, 31, 46, 0.6);
    z-index: 200;
    /*inset: 0;
    align-items: center;
    justify-content: center;*/
}

.modal-overlay.open {
    display: flex;
}

.modal-box {
    background: #F5F0E8;
    border-radius: 15px;
    padding: 3rem;
    min-width: 4rem;
    max-width: 70vw;
    width: fit-content;
    min-height: 4rem;
    max-height: 80vh;
    height: fit-content;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    /*overflow-y: auto;*/
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #2C2C2A;
}